<div style="margin-left: 50px;">
    <br>
<h2 style="text-decoration-line: underline; margin-left: 850px; color: black;">Aide BIATNET</h2>
<br>
<h3 style="text-decoration-line: underline; margin-left: 50px; color: black;">1. Services offerts par BIATNET</h3>   
 

<h5 style="text-decoration-line: underline; margin-left: 50px; color: orange;">Question 1 : Quels sont les services offerts par BIATNET ?</h5>

 
<br>
BIATNET est le service de banque à distance de la BIAT, disponible 24h/24 et 7j/7, qui vous permet d’accéder via Internet aux prestations suivantes :

<br>
 

<p style="text-decoration-line: underline;">Les opérations de base :</p>

<br>
 
<ul>
    <li> Consultation des soldes de vos comptes en temps réel</li>
    <li> Consultation des extraits de comptes
    </li>
    <li> Impression RIB/IBAN
    </li>
    <li> Recherche d’opérations multicritères
    </li>
    <li> Extrait des opérations par carte
    </li>
    <li> Chargement des cartes prépayées
    </li>
    <li> Opposition sur carte
    </li>
    <li> Commande de chéquier
    </li>
    <li> Service de messagerie avec la banque
    </li>
</ul>

 <br>
<p style="text-decoration-line: underline;"> Les opérations en option :</p>

<br>
 
<ul>
    <li> Téléchargement de documents (relevés, avis de débit et de crédit, échelles d’intérêts, tickets d’agios, fichiers d’opérations)
    </li>
    <li> Virement intra BIAT et inter bancaire libellé en TND en Tunisie
    </li>
    <li> Consultation du portefeuille chèques et effets, destinée notamment aux Entreprises
    </li>
    <li> Consultation des placements
    </li>
</ul>
 <br>
 <h5 style="text-decoration-line: underline; margin-left: 50px; color: orange;">Question 2 : Combien me coûte un abonnement BIATNET ?</h5>

 
<br>

<p>Le coût d’un abonnement BIATNET dépend du type de l’abonnement souscrit et des options qu’il  comporte. Il faut contacter votre agence pour plus de détails sur les différents coûts.
</p>
 
<br>

<h5 style="text-decoration-line: underline; margin-left: 50px; color: orange;">Question 3 : Y-a-t-il des abonnements BIATNET destiné au « couple » ?</h5>

<br>
 

Oui. En effet, si vous et votre époux/épouse possédez chacun d’entre vous un compte, une formule avantageuse d’abonnement est mise à votre disposition. L’abonnement approprié dans votre cas est « BIATNET FAMILIA » qui vous permet d’accéder à BIATNET chacun avec son propre identifiant et mot de passe.

<br>
 

<h5 style="text-decoration-line: underline; margin-left: 50px; color: orange;">Question 4 : Quelles sont les autres formules de BIATNET ?</h5>

<br>
 

En plus de « BIATNET Business », dédié aux entreprises, la BIAT offre aussi le service « BIATNET Business Group » dédié aux Groupes d’entreprises avec des formules avantageuses.

<br>
<br>
</div>