<!-- Content Start -->
<div style="margin-left: 100px;">
    <table>
        <tr>
            <td>
        <tr>
            <img src="../../assets/img/sc.jpg" alt="">
        </tr>
        <tr>   <br> <button type="submit" style=" width: 130px; background-color: #01223e; color: white; margin-left: 60px;" class="btn btn-primary" routerLink="/Aide">Aide ?</button>
        </tr>
        </td>
        <td style="width: 30px;"></td>
        <td>
<div class="content">
    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div>
                <h3 style="color: rgb(214, 139, 0);">Retour à: <a style="color: rgb(0, 15, 128);"
                        routerLink="/SituationCompte">Situation de mes comptes</a> ></h3>
                <hr style="color: black;">
                
<div id="section">
    <h3 style="color: orange;">Extrait de compte <button style="border: #01223e;" printSectionId="section" ngxPrint><i style="color: rgb(172, 172, 172);" class="bx bx-printer"></i></button></h3>
                <hr style="color: black;">
                <h3 class="mb-4" style="color: #01223e;">Compte numéro: 68-51-00260/8 CONSULTINGALOGICIELS</h3> 
                <h3 class="mb-4" style="color: #01223e;">Devise: EUR</h3>
                <table class="table table-striped" style="margin-left: 200px; width: 900px;">
                
                    <thead
                        style="background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(209, 239, 245) 35%, rgb(206, 239, 246) 100%);">
                        <tr>
                            <th scope="col">Date valeur</th>
                            <th scope="col">Libellé opération</th>
                            <th scope="col">Référence</th>
                            <th scope="col">Date opération</th>
                            <th scope="col">Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Solde départ au 01 DEC 22</td>
                            <td></td>
                            <td></td>
                            <td>27,550</td>
                        </tr>

                        <tr>
                            <td>30 DEC 22</td>
                            <td>TVA sur Com</td>
                            <td>CHG22364NRYMS</td>
                            <td>30 DEC 22</td>
                            <td>-0,29 = 1.052631578947368 %</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>REF:</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>30 DEC 22</td>
                            <td>Banque à distance BIATNET</td>
                            <td>CHG22364NRYMS</td>
                            <td>30 DEC 22</td>
                            <td>-1,53</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Solde fin au 11 JAN 23 à 13:07</td>
                            <td></td>
                            <td></td>
                            <td>25,73</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Solde disponible au 11 JAN 23 à 13:07</td>
                            <td></td>
                            <td></td>
                            <td>25,73</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Sauf erreur ou omission de notre part</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>
</td></tr></table></div>