<br>
<button class="btn btn-primary" style="margin-left: 1275px; border-color: #01223e; background-color: #ffffff;" printSectionId="section" ngxPrint><i style="color: #01223e;" class="bx bx-printer"></i></button>

<div style="margin-left: 100px;">
    <table>
        <tr>
            <td>
        <tr>
            <img src="../../assets/img/sc.jpg" alt="">
        </tr>
        <tr>   <br> <button type="submit" style=" width: 130px; background-color: #01223e; color: white; margin-left: 60px;" class="btn btn-primary" routerLink="/Aide">Aide ?</button>
        </tr>
        </td>
        <td style="width: 30px;"></td>
        <td>
            <table style="border: 1px solid black; border-collapse: collapse;" id="section">
                <br>
                <tr>
                    <td></td>
                    <td></td>
                    <td style=" padding-left: 45px; border: 1px solid black;"><strong>Relevé d'Identité Bancaire <br></strong>
                    </td>  
                <td style="width: 30px;"></td>              </tr>
                <tr style="width: 300px;">
                    <td style="width: 600px; padding-left: 30px;">
                <tr> <a class="logo"><img src="../../assets/img/pic.png" alt=""></a></tr>
                <tr><br></tr>
                <tr style="width: 460px;">Ce relevé est destiné à être remis à vos créanciers ou débiteur appelés à
                    faire
                    inscrire des opérations à votre compte (virement, paiement de quittance, etc.). Son utilisation vous
                    garantit le bon enregistrement des opérations en cause et vous évite ainsi des réclamations pour
                    erreurs
                    ou retards d'imputation.</tr>
                    <tr><br></tr>
                <tr>Identifiant national de compte bancaire - RIB: </tr>

                    <table class="table table-bordered" style="border: 1px solid black;">
                        <tr>
                            <th> 08 </th>
                            <th> 009000 </th>
                            <th> 6851002608 </th>
                            <th> 86 </th>
                        </tr>
                        <tr>
                            <td> Code Bancaire </td>
                            <td> Code Agence </td>
                            <td> Numéro de Compte </td>
                            <td> Clé </td>
                        </tr>
                    </table>
                
                <tr><br></tr>
                <tr>Identifiant international de compte bancaire - IBAN: </tr>
                <tr>
                    <td style="padding-left: 90px; border: 1px solid black;"> <strong> TN59 0800 9000 6851 0026 0886</strong>
                    </td>
                </tr>
                <tr><br></tr>
                <tr>Titulaire du compte bancaire: </tr>
                <tr>
                    <td style="padding-left: 90px; border: 1px solid black;">
                        <strong> CONSULTINGALOGICIELSSYSTEMES, </strong> 8 RUE MED SALAH BEN MRAD</td>
                </tr>
                <tr><br></tr>
        </td>
        <td style="width: 30px;"></td>
        <td style="width: 300px;">
            <tr> Cadre réservé au destinataire du relevé: </tr>
            <tr style="height: 100px; border: 1px solid black;"></tr>
            <tr><br></tr>
            <tr>Domiciliation: </tr>
            <tr>
                <td style="padding-left: 45px; border: 1px solid black;"> <strong>AGENCE EL MENZEH VI, </strong> EL MENZAH VI
                    <br>Tel: 31 372068</td>
            </tr>
            <tr><br></tr>
            <tr>BIC: </tr>
            <tr>
                <td style="padding-left: 100px; border: 1px solid black;"> <strong>BIATTNTT </strong></td>
            </tr>
        </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>

    <br>
   
    