<br>
<div style="margin-left: 100px;">
    <table>
        <tr>
            <td>
        <tr>
            <img src="../../assets/img/sc.jpg" alt="">
        </tr>
        <tr>   <br> <button type="submit" style=" width: 130px; background-color: #01223e; color: white; margin-left: 60px;" class="btn btn-primary" routerLink="/Aide">Aide ?</button>
        </tr>
        <br>
        </td>
        <td style="width: 30px;"></td>
        <td>
            <!-- Content Start -->
<div class="content">
    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <hr style="color: black;">
            <div id="section">
                <h3 style="color: orange;">Liste des comptes  <button style="border: #01223e;" printSectionId="section" ngxPrint><i style="color: rgb(172, 172, 172);" class="bx bx-printer"></i></button></h3>
                <hr style="color: black;">
                <table>
                    <thead
                        style="background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(209, 239, 245) 35%, rgb(206, 239, 246) 100%);">
                        <tr>
                            <th scope="col">Compte </th>
                            <th style="width: 50px;"></th>
                            <th scope="col"> Titulaire compte</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>68-51-00260/8 </td>
                            <td></td>
                            <td> CONSULTINGALOGICIELS+SYSTEMES</td>
                            <h5><a style="text-decoration-line: underline; margin-left: 20px; color: rgb(0, 15, 128);" routerLink="/ReleveId">Relevé d'Identité Bancaire</a> </h5> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div></td></tr></table></div>

  
  